# General settings
LOG_LEVEL=INFO
BACKEND=

# Home Assistant settings (if using Home Assistant backend)
HOMEASSISTANT_SERVER_IP=
HOMEASSISTANT_SERVER_PORT=
HOMEASSISTANT_API_KEY=

# Tuya settings (if using Local Tuya backend)
TUYA_API_KEY=
TUYA_API_SECRET=
TUYA_API_REGION=